section {
  border-radius: 5px;
  width: 75%;
  padding: 50px;margin: auto;
}

#Prototypes a {
  color: white;
  text-decoration: none;
}
.containergrid div {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
}
.containergrid button {
  background-color: #656565;
  border: none;
  padding: 10px 0;
  font-size: 16px;
  cursor: pointer;
  width: 200px;

  border-radius: 100px;
}
.containergrid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 20px;
  padding: 20px;
}

.containergrid img {
  width: 50%;
  object-fit: cover;
}
